.loginWrapper {
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .loginHeader {
    margin-bottom: 20px;
    text-align: center;
  }

  .loginContainer {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 40%;
    padding: 20px;
  }

  .loginInput {
    margin-top: 10px;
  }

  .primaryBtn {
    color: white;
    background-color: var(--secondary-color);
    text-decoration-line: none;
  }

  .primaryBtn:hover {
    color: white;
    background-color: var(--secondary-color);
    text-decoration-line: underline;
  }
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loginMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  width: 360px;
  padding: 10px 0 0;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
  width: 100px;
  height: 100px;
}

.formGroup {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  // margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 2rem;
}

.formGroup .registerInput {
  margin-bottom: 10px;
  text-align: left;
}

.formGroup input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 5px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.formGroup select {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.formGroup button {
  text-transform: uppercase;
  outline: 0;
  background: var(--secondary-color);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formGroup button:hover,
.formGroup button:active,
.formGroup button:focus {
  background: var(--secondary-color);
  transition: 0.5s;
  text-decoration: underline;
}
.formGroup .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formGroup .message span {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}
