@import "../../styles/colors.scss";

.tbsLogo {
  width: 5rem;
  height: 5rem;
}

.userDropDownToggle {
  background-color: var(--pure-white) !important;
  color: var(--primary-color) !important;
  border: none !important;
}

.underLine2 {
  color: rgb(112, 108, 108);
  transition: 10s;
  display: inline-block;
  position: relative;
}
.underLine2:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}
.underLine2:hover:after {
  transform: scaleX(0.9);
  transform-origin: bottom left;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
  color: rgb(73, 71, 71);
  transform: scale(1.02);
}

div > a {
  margin-right: 2vw;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .hide_on_responsive {
    display: none;
  }
}
