.progress-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;

    .progress {
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background-color: #007bff;
        transition: width 0.1s ease-in-out;
        animation: moveProgress 2s linear infinite;
    }
}

@keyframes moveProgress {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
