.eventHeader {
  margin-bottom: 30px;
}

.createBtnGroup {
  display: flex;
  justify-content: space-between;
}

.primaryBtn {
  color: white !important;
  background-color: var(--primary-color) !important;
  text-decoration-line: none !important;
}

.primaryBtn:hover {
  color: white !important;
  background-color: var(--primary-color) !important;
  text-decoration-line: underline !important;
}

.planCard {
  // border: 1px solid #567567;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.planThumbnail {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  max-height: 300px;
}
