:root {
  --header-color: #444444;
  --primary-color: #1a5978;
  --secondary-color: #00205b;
  --pure-white: #ffffff;
  --light-gray: #777777;
  --dark-gray: #333333;
  --cat-one-yellow: #ede83f;
  --cat-two-blue: #32a6da;
  --cat-three-red: #ee4748;
  --cat-four-green: #5fba46;
  --cat-five-orange: #e89023;
  --cat-six-purple: #a18cf9;
}
