@import "../../../../styles/colors.scss";

.seatingPlan {
  pointer-events: none;
  opacity: 0.8;
}

.btnGroup {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.primaryBtn {
  color: white !important;
  background-color: var(--primary-color) !important;
  text-decoration-line: none !important;
}

.primaryBtn:hover {
  color: white !important;
  background-color: var(--primary-color) !important;
  text-decoration-line: underline !important;
}

.btnMarginRight {
  margin-right: 5px;
}
